extends layout

block content
  .container
    .row
      .col-lg-12
        .col-lg-4
        .col-lg-4
          .loginbox
            .col-lg-2
            .col-lg-8
              img.img-circle(src='/images/defaultuser.jpg')
            .row
              .col-lg-1
              .col-lg-10
                form(action="/login", method="post")
                  .form-group.warning
                    label(for="username") Username
                    input.form-control#inputUsername(type="text", placeholder="Userame", name="username")
                  .form-group
                    | That user does not exist.
                  .form-group
                    label(type="password") Password
                    input.form-control#inputPassword(type="password", placeholder="Password", name="password")
                  .form-group
                    a.help-block(href="/signup") Sign Up 
                  .form-group
                    button.btn.btn-primary(type="Submit") Sign In             




