extends layout

block content
  .container
    .row
      .col-lg-4
      .col-lg-4
        h1 Welcome #{user.username}
      .col-lg-4
        h2 #{comment}
    .row
      .col-lg-4
      .col-lg-4
        form(action="/api/comment", method="post")
          .form-group
            label(for="comment") Comment
            input.form-control#inputComment(type="text", placeholder="Comment", name="comment")
          .form-group
            button.btn.btn-primary(type="Submit") Submit 
